body {
    font-family: Helvetica;
    display: flex;
    flex-wrap: wrap;
}

main {
    
    display: flex;
    justify-content: left;
    width:70%;
    flex-wrap: wrap;
}

aside {
     
    display: flex;
    justify-content: right;
    width:30%;
    flex-wrap: wrap;
}

#s1 {
    
    height: 400px;
    width: 100%;
    background-color: snow;
    text-align: center;
}

#s2 {
    
    height: 400px;
    width: 100%;
    background-color: snow;
    font-size: 150%;

}
#s3 {
    height: 150px;
    width: 100%;
    background-color: steelblue;
    color: white;
    text-align: center;
}
#s4 {
    height: 350px;
    width: 100%;
    background-color: steelblue;
    color: white;
}
#s5 {
    height: 300px;
    width: 100%;
    background-color: snow;
    text-align: center;
}
footer {
    display:flex;
    width:100%;
    color: white;
    background-color: steelblue;
}