html,body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control label {
    margin-bottom: 5px;
}

.form-control input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control input:focus {
    outline: none;
    border-color: #333;
}

.form-control input.error {
    border-color: red;
}

.form-control button {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.form-control button:hover {
    background-color: #444;
}

.form-control .error-holder {
    color: red;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
