html, body {    margin: 0;    padding: 0;    font-family: Helvetica;}
header, footer {    background-color: #AF4448;    color: #fff;    text-align: center;    height: 20px;}
h3 {    margin: 0;}
h4 {    margin: 0;}
main {    display: flex;    width: 100%;}
section {    background-color: #FFA4A2;    height: 650px;    width: 50%;}button {    background-color: #AF4448;    color: #fff;    margin: 10px;    padding: 5px;}